<div class="footer">
  <footer>
    <table style="table-layout: fixed; width: 100%;">
      <colgroup>
        <col style="width:50%">
      </colgroup>
        <td style="font-size:24px;"><b>Contact Us</b></td>
        <td style="font-size:24px;"><b>Subscribe to Newsletter</b></td>
      </tr>
      <tr>
        <td>Have questions or feedback? Reach out to us via email or social media!</td>
        <td>Stay updated with the latest events and promotions by subscribing to our newsletter</td>
      </tr>
      <tr>
        <td>
          <a href="#"><img src="{{ url_for('static', filename='pics/gmail.png') }}" size="20" style="height:30px" /></a>
          <a href="#"><img src="{{ url_for('static', filename='pics/facebook.png') }}" size="20" style="height:30px" /></a>
          <a href="#"><img src="{{ url_for('static', filename='pics/twitter.png') }}" size="20" style="height:30px" /></a>
          <a href="#"><img src="{{ url_for('static', filename='pics/instagram.png') }}" size="20" style="height:30px" /></a>

        </td>
        <td>
            <input type="text" placeholder="Email" style="height:30px; width:500px;">
          </div>
          <button type="submitbutton" onclick="alert('Email Submitted!')">Subscribe</button>

        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>
  </footer>
    </div>
  </body>
</html>
  