<html>
    <head>
        <h1>Directory of Sample Webpages</h1>
    </head>
    <body>
        <ul>
            <li><a href="/login">Log-in</a></li>
            <li><a href="/2auth">Two-Factor Authentication</a></li>
            <li><a href="/signup">Sign-up</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/event">Event Page + Listings</a></li>
            <li><a href="/mylistings">Listing History</a></li>
            <li><a href="/mypurchases">Purchase History</a></li>
            <li><a href="/selling">Making a Listing</a></li>
        </ul>
    </body>
</html>